<app-title titre="Documents" vignette="Formulaire Modification"></app-title>

<section class="row">
  <section class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="form-group mb-3">
          <label>Nom</label>
          <input type="text" class="form-control" [(ngModel)]="form.nom" />
        </div>

        <div class="form-group mb-3">
          <label>Description</label>
          <textarea
            class="form-control"
            [(ngModel)]="form.description"
          ></textarea>
        </div>
        <hr />
        <button class="btn btn-outline-secondary" routerLink="/documents">
          Retour
        </button>

        <span class="float-end">
          <button class="btn btn-warning" (click)="update()">Enregistrer</button
          >&nbsp;
          <button class="btn btn-secondary" (click)="reset()">Anuller</button>
        </span>
      </div>
    </div>
  </section>
</section>
