<app-title titre="Documents" vignette="Liste"></app-title>
<button class="btn btn-primary" [routerLink]="['/documents/add']">
  + Créer un document
</button>
<table class="table-striped table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Description</th>
      <th>Documents</th>
      <th>Modifier</th>
      <th>Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let elem of liste; let i = index">
      <th>{{ i + 1 }}</th>
      <th>{{ elem.nom }}</th>
      <th>{{ elem.description }}</th>
      <th>
        <button class="btn btn-info btn-sm" routerLink="/documents">
          Afficher le document
        </button>
      </th>
      <th>
        <button
          class="btn btn-warning btn-sm"
          [routerLink]="['/documents/update/' + elem.id]"
        >
          Modifier
        </button>
      </th>
      <th>
        <button (click)="delete(elem.id)" class="btn btn-danger btn-sm">
          Supprimer
        </button>
      </th>
    </tr>
  </tbody>
</table>
